:root {
  --main-text-color: #212121;
  --special-text-color: #757575;
  --hover-color: #2196f3;
  --light-text-color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media sreen and (min-width: 768px) {
  .container .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container .container {
    display: flex;
    max-width: 1200px;
  }
}

.button {
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  outline: none;
  cursor: pointer;
}

.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  background-color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.current {
  display: inline-block;
  color: var(--hover-color);
  position: relative;
}

.site-nav__link.current::after {
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  bottom: -32px;
  background-color: #2196f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--hover-color);
  background-color: #fff;
}

.logo {
  display: flex;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.company {
  margin-right: 93px;
}

.logo-color {
  color: var(--hover-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list__link {
  display: flex;
  color: var(--special-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  align-items: center;
  padding: 1px 1px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  background-color: #fff;
  color: var(--hover-color);
}

.contacts-list__icon {
  margin-right: 10px;
  background-color: #fff;
  fill: var(--special-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: var(--hover-color);
}

.product-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-buttons__list {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.filter-buttons__text {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons__text:hover, .filter-buttons__text:focus, .filter-buttons__text:active {
  color: var(--light-text-color);
  background-color: #2196f3;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.product-cards__list {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.product-cards__item {
  background-color: #ffffff;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-cards__item:nth-child(3n) {
  margin-right: 0;
}

.product-cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product-cards__item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-cards__link {
  display: inline-block;
  outline: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-cards__link:hover, .product-cards__link:focus, .product-cards__link:active {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.content-overlay__text {
  display: flex;
  text-align: start;
  position: absolute;
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  opacity: 1;
}

.product-cards__item:hover .content-overlay {
  transform: translateY(0);
  opacity: 1;
}

.product-cards__link:hover .content-overlay,
.product-cards__link:focus .content-overlay {
  transform: translateY(0);
  opacity: 1;
}

.card-content {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-cards__title {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.product-card__filter {
  color: var(--special-text-color);
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-composition {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}

.company-footer {
  margin-bottom: 20px;
}

.footer-logo {
  color: white;
}

.address-list__item:not(:first-child) {
  margin-top: 9px;
}

.address-post {
  color: var(--light-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover, .address-footer:focus {
  color: var(--hover-color);
}

.footer-block-join {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 70px;
}

.footer-join__item:first-child {
  margin-bottom: 20px;
}

.footer-join__text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:last-child {
  margin-right: 0;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--hover-color);
}

.social-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--light-text-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:last-child {
  margin-right: 0;
}

.footer-icon {
  fill: var(--light-text-color);
}

.footer-form__text {
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__design {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
}

.footer-btn-function {
  display: flex;
  height: 50px;
  margin-left: 12px;
  padding: 10px 29px;
}

.footer-btn-icon {
  fill: var(--light-text-color);
  margin-left: 10px;
}
/*# sourceMappingURL=main-portfolio.css.map */