:root {
  --main-text-color: #212121;
  --special-text-color: #757575;
  --hover-color: #2196f3;
  --light-text-color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  /* margin-left: auto;
	margin-right: auto; */
}

@media screen and (min-width: 480px) {
  .container .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media sreen and (min-width: 768px) {
  .container .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container .container {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
}

.button {
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  outline: none;
  cursor: pointer;
}

.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  background-color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.current {
  display: inline-block;
  color: var(--hover-color);
  position: relative;
}

.site-nav__link.current::after {
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  bottom: -32px;
  background-color: #2196f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--hover-color);
  background-color: #fff;
}

.logo {
  display: flex;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.company {
  margin-right: 93px;
}

.logo-color {
  color: var(--hover-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list__link {
  display: flex;
  color: var(--special-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  align-items: center;
  padding: 1px 1px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  background-color: #fff;
  color: var(--hover-color);
}

.contacts-list__icon {
  margin-right: 10px;
  background-color: #fff;
  fill: var(--special-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: var(--hover-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pictures/hero-1x.jpg);
  background-repeat: no-repeat;
  background-size: 480px 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-btn-function {
  display: inline-block;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pictures/hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pictures/hero_tablet-1x.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pictures/hero_tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pictures/hero_desk-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pictures/hero_desk-2x.jpg);
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list__item {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  background-position: center;
  display: flex;
  align-items: center;
}

.advantages-list__logo {
  margin-left: auto;
  margin-right: auto;
}

.advantages-item__title {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.advantage-item__text {
  color: var(--special-text-color);
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__item {
    width: calc((100% - 30px * 2) / 2);
  }
  /* .advantages__item:nth-child(2n + 1) {
		margin-right: 30px;
	} */
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .advantages-list__logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages-list__item {
    width: 270px;
    padding: 25px 102px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantage-item__text {
    max-width: 270px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .directions {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .directions__title {
    color: var(--main-text-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .directions__list {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
  }
  .directions__item {
    position: relative;
  }
  .directions__item:not(:last-child) {
    margin-right: 30px;
  }
  .directions__description {
    position: absolute;
    font-family: Roboto;
    color: var(--light-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 82px;
    bottom: 0;
    width: 100%;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team__title {
    color: var(--main-text-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .team__title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}

.person-card__list {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-card__title {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.person-card__text {
  color: var(--special-text-color);
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .person-card__title {
    margin-top: 30px;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 122px;
  padding-right: 122px;
  padding-bottom: 24px;
}

.social-list__item {
  display: flex;
  align-items: center;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-list__link:last-child {
  margin-right: 0;
}

.social-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .social-list {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .social-list__link {
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__link:last-child {
    margin-right: 0;
  }
  .social-list__link:hover, .social-list__link:focus {
    background-color: var(--hover-color);
  }
  .social-list__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__link:hover .social-list__icon,
  .social-list__link:focus .social-list__icon {
    fill: var(--light-text-color);
  }
}

/* 
	display: flex;
	justify-content: space-between;
	

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.social-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-right: 10px;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&:focus {
		background-color: var(--hover-color);
	}
}

.social-list__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #afb1b8;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	.social-list__link:hover &,
	.social-list__link:focus & {
		fill: var(--light-text-color);
	}
}
 */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.clients-list__item {
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-site {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  outline: none;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-site:hover, .clients-site:focus {
  cursor: pointer;
  border-color: var(--hover-color);
}

.clients-logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-site:active .clients-logo,
.clients-site:hover .clients-logo,
.clients-site:focus .clients-logo {
  fill: var(--hover-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-composition {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}

.company-footer {
  margin-bottom: 20px;
}

.footer-logo {
  color: white;
}

.address-list__item:not(:first-child) {
  margin-top: 9px;
}

.address-post {
  color: var(--light-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover, .address-footer:focus {
  color: var(--hover-color);
}

.footer-block-join {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 70px;
}

.footer-join__item:first-child {
  margin-bottom: 20px;
}

.footer-join__text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:last-child {
  margin-right: 0;
}

.footer-icon {
  fill: var(--light-text-color);
}

.footer-form__text {
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__design {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
}

.footer-btn-function {
  display: flex;
  height: 50px;
  margin-left: 12px;
  padding: 10px 29px;
}

.footer-btn-icon {
  fill: var(--light-text-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  transition: all 350ms linear;
}

.modal {
  position: absolute;
  background-color: #fff;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 150ms linear 150ms;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--hover-color);
  outline: none;
}

.is-hidden {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}

.user-info {
  display: inline-block;
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: var(--special-text-color);
}

.form-field-wrapper {
  position: relative;
  display: block;
  color: var(--special-text-color);
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--hover-color);
  outline: none;
}

.modal-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--hover-color);
}

.form-message-wrapper {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message-wrapper:focus {
  border-color: var(--hover-color);
  outline: none;
}

.form-policy-text {
  display: inline-block;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--special-text-color);
  margin-top: 20px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid black;
  background-color: var(--light-text-color);
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 15px;
  vertical-align: middle;
}

.modal-form-policy:checked + .form-policy-text::before {
  background-color: var(--hover-color);
  content: "";
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  border: none;
  border-radius: 2px;
  text-align: start;
}

.modal-link {
  text-decoration: underline;
  color: var(--hover-color);
}

.form-btn-submit {
  display: inline-block;
  color: var(--light-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 200px;
  padding: 10px 55px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=main-index.css.map */