.directions {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}

.directions__title {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.166;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

.directions__list {
	display: flex;
	justify-content: space-between;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 94px;
}

.directions__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.directions__description {
	position: absolute;
	font-family: Roboto;
	color: var(--light-text-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
	padding: 27px 82px;
	bottom: 0;
	width: 100%;
}
