.team {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f5f4fa;

	&__item:not(:last-child) {
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 480px) {
	.team__title {
		color: var(--main-text-color);
		font-family: Roboto;
		font-weight: bold;
		font-size: 28px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.team {
		padding-top: 94px;
		padding-bottom: 94px;

		&__item:not(:last-child) {
			margin-right: 30px;
		}
	}

	.team__list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.team__title {
		font-size: 36px;
		line-height: 1.166;
		margin-bottom: 50px;
	}
}
