.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-composition {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	align-items: center;
	justify-content: space-between;
	align-items: baseline;
}
