.footer-block-join {
	display: flex;
	align-items: start;
	justify-content: start;
	margin-left: 70px;
}

.footer-join__item:first-child {
	margin-bottom: 20px;
}

.footer-join__text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light-text-color);
}
