.site-nav {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child) {
		margin-right: 50px;
	}

	&__link {
		color: var(--main-text-color);
		font-family: Roboto;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.142;
		letter-spacing: 0.02em;
		background-color: #fff;

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&.current {
			display: inline-block;
			color: var(--hover-color);
			position: relative;
		}

		&.current::after {
			display: block;
			width: 100%;
			height: 4px;
			content: "";
			position: absolute;
			bottom: -32px;
			background-color: #2196f3;
		}

		&:hover,
		&:focus {
			color: var(--hover-color);
			background-color: #fff;
		}
	}
}
